body, html {
    line-height: 1;
    font-weight: 200;
    font-size:62.5%;
    margin: 0;
    padding: 0;
    font-family: 'PingFang SC';
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
.clearfix {
    display: inline-block;
}
.clearfix:after {
    display: block;
    content: '';
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5) {
    .border-1px, .border-1px-top ::after {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
}
@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
    .border-1px, .border-1px-top::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
div,form,ul,ol,li,span,p,dl,dt,dd,img,section,header,footer,input,textarea,a,i {
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: none;
    moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0
}

ul,ol,li {
    list-style: none;
    list-style-position: inside
}
a img{
    border:0;
}
a{
    text-decoration:none;
    color: #000 !important;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
.flx {
    display: flex;
}
.flx-1 {
    flex: 1;
}
.fl-r {
    float: right;
}
.fl-l {
    float: left;
}
.tex-c {
    text-align: center;
}
.tex-l {
    text-align: left;
}
.tex-r {
    text-align: right;
}
.cor-r {
    color: red;
}
.cur {
    cursor: pointer;
}
.mar-b {
    margin-bottom: 1.2rem;
}
.mar-t {
    margin-top: 1.2rem;
}
.pd {
    padding: 0 10px;
}
.bg-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
img {
    width: 100%;
    height: 100%;
}
.fot-s {
    font-size: 1.2rem;
}
.posr {
    position: relative;
}
.pad-mix {
    padding: 0.6rem;
}
.bg-c-w {
    background: #ffffff;
}
.header {
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 99999;
}
.container {
    margin: 40px 0;
}
.footer {
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 99999;
}
