body,
html {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #f5f5f5;
    color: #000;
}

body {
    font-size: 1.2rem;
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    display: block;
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
    .border-1px,
    .border-1px-top ::after {
        -webkit-transform: scaleY(0.7);
        transform: scaleY(0.7);
    }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
    .border-1px,
    .border-1px-top::after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}

button {
    border: none;
    border-radius: 4px;
}

div,
form,
ul,
ol,
li,
span,
p,
dl,
dt,
dd,
img,
section,
header,
footer,
input,
textarea,
a,
i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
ol,
li {
    list-style: none;
    list-style-position: inside;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    color: #000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.flx {
    display: flex;
}

.border-b {
    border-bottom: 1px solid rgba(217, 217, 217, 0.3);
}

.flx-cc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flx-dir {
    flex-direction: column;
}

.flx-c {
    display: flex;
    align-items: center;
}

.flx-1 {
    flex: 1;
}

.fl-r {
    float: right;
}

.fl-l {
    float: left;
}

.tex-c {
    text-align: center;
}

.tex-l {
    text-align: left;
}

.tex-r {
    text-align: right;
}

.cur {
    cursor: pointer;
}

.mar-b {
    margin-bottom: 1.2rem;
}

.mar-t {
    margin-top: 1.2rem;
}

.pd {
    padding: 0 10px;
}

.bg-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    height: 100%;
}

.btn-co {
    color: #ffffff;
}

.fot-s {
    font-size: 1.2rem;
}

.mar-t-mix {
    margin-top: 0.8rem;
}

.fot-m {
    font-size: 1.4rem;
}

.fot-max {
    font-size: 1.6rem;
}

.mar-r-l {
    margin: 0 1rem;
}

.flx-w-button {
    width: 7rem;
    height: 4rem;
    line-height: 4rem;
    border-radius: 2px;
    font-size: 1.4rem;
}

.posr {
    position: relative;
}

.btn-back {
    background: #ff6600;
}

.pad-mix {
    padding: 1rem;
}

.bg-c-w {
    background: #ffffff;
}

.header-h {
    height: 4rem;
}

.mar-h {
    margin-top: 4rem;
}

.header {
    height: 4.4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 9;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.header .back {
    font-size: 1.2rem;
    width: 6rem;
    display: flex;
    align-items: center;
    color: #000;
    justify-content: center;
    height: 100%;
}

.header .back .icon {
    font-size: 2.6rem;
}

.header .head-tit {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 4rem;
    font-size: 1.4rem;
    text-align: center;
}

.container {
    margin: 4.4rem 0 5rem 0;
}

.footer {
    height: 5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    z-index: 99999;
}

.footer .nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    flex-direction: column;
}

.footer .nav-item span {
    color: #9E9DA4;
}

.footer .nav-item.clic span {
    color: #4777F3;
}

.header2 {
    height: 4.4rem;
    margin-top: 4.6rem;
    background: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.clic {
    color: #4777F3;
}

.footer .icon {
    font-size: 2rem;
    margin-bottom: 5px;
}

input::-webkit-input-placeholder {
    color: rgba(153, 153, 153, 0.5);
}

.slid-shadow {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: none;
}


/* 重置轮播图样式 */

.swiper-pagination-bullet-active {
    background: #fff !important;
}