// 二级字体颜色
$color9: #C3C3C3;
$black: #000000;
$black03: #868686;
// 主色
$colorActive: #4777F3;
$colorActive2: #75A6E9;
// 右箭头
$colorr: #c8c8cd;
// border-bottom
$colorb: #FAFAFA;
$colorb03: rgba(217, 217, 217, 0.3);
@mixin line-clamp($num: 1) {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}