// 字体颜色
$color9: #999;
$black: #333;
$colorActive: #ff6600;
// 右箭头
$colorr: #c8c8cd;
// border-bottom
$colorb: rgb(217, 217, 217);
$colorb03: rgba(217, 217, 217, 0.3);
@mixin line-clamp($num: 1) {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}