<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title></title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="detail.css" />
    <script src="../../asset/font/iconfont.js"></script>
</head>

<body>
<div class="meeting">
    <div class="containe">
        <div class="meeting-item">
            <div class="con">
                <p class="img">
                    <img src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt="" srcset="" />
                </p>
            </div>
            <p class="tit">大沙龙空间</p>
            <div class="has-content">
                <span>显示屏</span>
                <span>白板及白板笔</span>
                <span>热水</span>
            </div>
        </div>
        <div class="condition fot-s">
            基础收费标准：<span class="cor-r">500</span>元/半个小时
        </div>
        <div class="condition fot-s">
            地理位置：<span>庚坊国际发展中心</span>
        </div>
        <div class="flx condition fot-s">
            <div class="flx-1">容纳人数：<span>60</span>人</div>
            <div class="flx-1">占地面积：<span>100</span>m²</div>
        </div>
        <div></div>
    </div>
    <div class="containe2">
        <div class="condition fot-s">
            联系信息
        </div>
        <div class="condition fot-s">
            联系人：<span>余倩倩</span>
        </div>
        <div class="condition fot-s">
            联系电话：<a href="tel:13581782719">13581782719</a>
        </div>
    </div>
    <div class="containe2">
        <div class="condition fot-s">
            预定须知
        </div>
        <div class="condition fot-s">

        </div>
    </div>
    <div class="containe2">
        <div class="condition fot-s">
           详情
        </div>
        <div class="condition fot-s">

        </div>
    </div>
    <div class="containe2 containe3">
        <div class="condition fot-s">
            用户评价（<span class="cor-r">0</span>条）
        </div>
        <div class="condition fot-s">

        </div>
    </div>
    <div class="footer-btn flx">
        <div class="flx-1">
            我要咨询
        </div>
        <div class="flx-1">
            收藏
        </div>
        <div class="flx-1">
            我要预定
        </div>
    </div>
</div>
</body>
<script src="../../js/jquery_min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/lazyLoad.js"></script>
<script>
</script>
</html>
