<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title>会议室列表</title>
    <link rel="stylesheet" href="../../css/weui.css" />
    <link rel="stylesheet" href="../../css/jquery-weui.css" />
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="meeting.css" />
    <script src="../../asset/font/iconfont.js"></script>
  </head>

  <body>
    <div class="meeting">
      <header>
        <div class="flx newheader2">
          <div class="flx-1 tex-c" id="pre_day">
            前一天
          </div>
          <div class="flx-1 tex-c posr">
            预订场地
            <input type="text" id="my_input" class="data-sele" />
          </div>
          <div class="flx-1 tex-c" id="next_day">
            后一天
          </div>
        </div>
      </header>
      <div class="container"></div>
    </div>
  </body>
  <script src="../../js/lib.js"></script>
  <script src="../../js/newCommon.js"></script>
  <script src="../../js/lazyLoad.js"></script>
  <script id="meeting" type="text/html">
    {{each list as item}}
    <div class="placed-item goToDetailMeeting" fdId="{{item.fdId}}">
      <div class="con">
        <p class="img">
          <img src="" data-src="{{domain + item.fdImage[0]}}"/>
        </p>
        <p class="price"><span>{{item.fdbalancetype}}</span></p>
      </div>
      <p class="tit" id="titName" name="{{item.meetName}}">{{item.meetName}}</p>
      <div class="flx fot-s mar-t">
        <div class="flx-1">
          <p class="desc">
            <i class="icon iconfont icon-qunzu"></i>可容纳{{item.fdArea}}人
          </p>
          <p class="desc">
            <i class="icon iconfont icon-location"></i>{{item.meetAdress}}
          </p>
        </div>
        <div class="flx-1 tex-r mar-t-mix">
          <button class="btn-back btn-co pre-btn" id="preMeet">
            <i class="icon iconfont icon-yuding"></i>
            我要预订
          </button>
        </div>
      </div>
    </div>
    {{/each}}
  </script>
  <script>
    var nowdate = dateFormat(new Date(), "yyyy-mm-dd"); // 当前日期
    var numDate = 0; // 日期默认点击数
    var pageno = 0,
      rowsize = 10;
    $(function () {
      // 高级搜索伸缩点击事件
      $("ul.accordion li span").on("click", function (event) {
        event.stopPropagation();
        $(this).parent().siblings().removeClass("selected").find("div").hide();
        $(this).parent().addClass("selected");
        $(this).next().slideDown(500);
      });
      $("#highSeach").on("click", function () {
        $(".slid-shadow").width(0);
        $(".slid-shadow").show();
        $(".slid-shadow").show();
        $(".slid-shadow").animate(
          { width: "100%" },
          500,
          "linear",
          function () {}
        );
      });
      // 动态隐藏高级搜索的弹框
      $(".slid-shadow-background").click(function () {
        $(".slid-shadow").animate({ width: "0px" }, 500, "linear", function () {
          $(".slid-shadow").hide();
        });
      });
      // 设置默认时间
      $("#my_input").val(nowdate);
      // 时间组建初始化
      $("#my_input").calendar({
        value: [nowdate],
        dateFormat: "yyyy-mm-dd",
      });
      // 选择新的时间出发change事件 调取查询接口
      $("#my_input").on("change", function (val) {
        resetPageNo();
        $(".container").html("");
        getDateApi(); // 日期变化重新获取对应数据
      });
      // 点击前一天
      $("#pre_day").click(function () {
        if ($("#my_input").val() === nowdate) {
          $.toast("日期大于今天", "text");
          return;
        }
        numDate--;
        $("#my_input").val(
          dateFormat(
            new Date(new Date() + 3600000 * 24 * numDate),
            "yyyy-mm-dd"
          )
        );
        resetPageNo();
        $(".container").html("");
        getDateApi(); // 日期变化重新获取对应数据
      });
      // 点击后一天
      $("#next_day").click(function () {
        numDate++;
        var timme = new Date(new Date() * 1 + 3600000 * 24 * numDate);
        $("#my_input").val(dateFormat(timme, "yyyy-mm-dd"));
        resetPageNo();
        $(".container").html("");
        getDateApi(); // 日期变化重新获取对应数据
      });
      // 获取接口方法
      function getDateApi() {
        var result = ajaxMothed("/resource/wechat/auth/wechatMeet.do", {
          pageno: _scrollPageNo,
          rowsize: rowsize,
          method: "getMeetList",
          date: $("#my_input").val() || dateFormat(nowdate, "yyyy-mm-dd"),
        });
        result.done(function (resp) {
          if (resp.data.dataList.length == 0) {
            return false;
          }
          render(".container", "meeting", resp.data.dataList, true);
          lazyRender();
          setScrollPage();
          // 渲染玩模版 绑定点击事件
          $(".goToDetailMeeting").click(function (val) {
            console.log($(".goToDetailMeeting").attr("fdId"), 88888);
            window.location.href =
              "detail.html?fdId=" +
              $(".goToDetailMeeting").attr("fdId") +
              "&date=" +
              $("#my_input").val();
          });
          // 点击我要预定 （传参数：fdId date name）
          $("#preMeet").click(function (event) {
            event.stopPropagation();
            window.location.href =
              "predetermine.html?fdId=" +
              $(".goToDetailMeeting").attr("fdId") +
              "&date=" +
              $("#my_input").val() +
              "&name=" +
              $("#titName").attr("name");
          });
        });
      }
      getDateApi();
      pageScroll(getDateApi);
    });
  </script>
</html>
