<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title></title>
    <link rel="stylesheet" href="../../css/weui.css" />
    <link rel="stylesheet" href="../../css/jquery-weui.css" />
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="meeting.css" />
    <script src="../../asset/font/iconfont.js"></script>
  </head>

  <body>
    <div class="meeting">
      <header>
        <div class="header">
          <div class="back"></div>
          <div class="head-tit"></div>
          <div class="back fot-max" id="highSeach">
            高级搜索
          </div>
        </div>
        <div class="flx header2">
          <div class="flx-1 tex-c" id="pre_day">
            前一天
          </div>
          <div class="flx-1 tex-c posr">
              预定场地
              <input type="text" id="my_input" class="data-sele"/>
          </div>
          <div class="flx-1 tex-c" id="next_day">
            后一天
          </div>
        </div>
      </header>
      <div class="container">
      </div>
    </div>
    <div class="slid-shadow">
      <div class="slid-shadow-container">
        <div class="slid-header">
          <input type="text" placeholder="搜索" />
        </div>
        <div class="slid-content bg-c-w">
          <ul class="accordion">
            <li class="selected">
              <span>可容纳人数</span>
              <div>
                <ul>
                  <li>4人以下</li>
                  <li>5～8人</li>
                  <li>8～12人</li>
                  <li>12～20人</li>
                  <li>20人以上</li>
                </ul>
              </div>
            </li>
            <li>
              <span>提供设备</span>
              <div>
                <ul>
                  <li>投影仪</li>
                  <li>电脑</li>
                  <li>欢迎屏</li>
                  <li>视频设备</li>
                  <li>电话会议设备</li>
                  <li>钢笔</li>
                  <li>麦克风</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                </ul>
              </div>
            </li>
            <li>
              <span>所属园区</span>
              <div>
                <ul>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="slid-footer flx">
          <div class="flx-1 tex-c fot-m bg-c-w">重置</div>
          <div class="flx-1 sure tex-c fot-m">确定</div>
        </div>
      </div>
      <div class="slid-shadow-background"></div>
    </div>
  </body>
  <script src="../../js/lib.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/lazyLoad.js"></script>
  <script id="meeting" type="text/html">
    {{each list as item}}
    <div class="placed-item goToDetailMeeting" fdId="{{item.fdId}}">
      <div class="con">
        <p class="img">
          <img src="" data-src="{{domain + item.fdImage[0]}}"/>
        </p>
        <p class="price"><span>{{item.fdbalancetype}}</span></p>
      </div>
      <p class="tit" id="titName" name="{{item.meetName}}">{{item.meetName}}</p>
      <div class="flx fot-s mar-t">
        <div class="flx-1">
          <p class="desc">
            <i class="icon iconfont icon-arrow-lift"></i>可容纳{{item.fdArea}}人
          </p>
          <p class="desc">
            <i class="icon iconfont icon-arrow-lift"></i>{{item.meetAdress}}
          </p>
        </div>
        <div class="flx-1 tex-r mar-t-mix">
          <button class="btn-back btn-co pre-btn" id="preMeet">
            <i class="icon iconfont icon-arrow-lift"></i>
            我要预定
          </button>
        </div>
      </div>
    </div>
    {{/each}}
  </script>
  <script>
      var nowdate= dateFormat('yyyy-mm-dd', new Date()) // 当前日期
      var numDate = 0 // 日期默认点击数
      var pageno = 0, rowsize= 10;
    $(function () {
        // 高级搜索伸缩点击事件
      $("ul.accordion li span").on("click", function (event) {
        event.stopPropagation();
        $(this).parent().siblings().removeClass("selected").find("div").hide();
        $(this).parent().addClass("selected");
        $(this).next().slideDown(500);
      });
      $("#highSeach").on("click", function () {
        $(".slid-shadow").width(0);
        $(".slid-shadow").show();
        $(".slid-shadow").show();
        $(".slid-shadow").animate(
          { width: "100%" },
          500,
          "linear",
          function () {}
        );
      });
      $(".slid-shadow-background").click(function () {
        $(".slid-shadow").animate({ width: "0px" }, 500, "linear", function () {
          $(".slid-shadow").hide();
        });
      });
      // 设置默认时间
      $('#my_input').val(nowdate)
        // 时间组建初始化
      $('#my_input').calendar({
          value: [nowdate],
          dateFormat: 'yyyy-mm-dd'
      })
        // 选择新的时间出发change事件 调取查询接口
      $('#my_input').on('change', function (val) {
          getDateApi()
      })
        // 点击前一天
        $('#pre_day').click(function () {
          if ($('#my_input').val() === nowdate) {
              $.toast('日期大于今天', 'text');
              return
          }
            numDate --
          $('#my_input').val(dateFormat('yyyy-mm-dd', (new Date(new Date() + 3600000*24*numDate))))
            getDateApi()
        })
        // 点击后一天
        $('#next_day').click(function () {
            numDate ++
            var timme = new Date(new Date() * 1 + 3600000*24 * numDate)
            $('#my_input').val(dateFormat('yyyy-mm-dd', timme))
            getDateApi()
        })
        // 获取接口方法
        function getDateApi() {
            var result = ajaxMothed("/resource/wechatArea/auth/getMeetList", {
                pageno: pageno,
                rowsize: rowsize,
                date: $('#my_input').val() || dateFormat('yyyy-mm-dd', nowdate)
            });
            result.done(function (resp) {
                render(".container", "meeting", resp.data.dataList, true);
                // 渲染玩模版 绑定点击事件
                $('.goToDetailMeeting').click(function (val) {
                  console.log($('.goToDetailMeeting').attr('fdId'), 88888)
                  window.location.href ='detail.html?fdId=' + $('.goToDetailMeeting').attr('fdId') + '&date=' + $('#my_input').val()
                })
                // 我要预定
              $('#preMeet').click(function (event) {
                event.stopPropagation();
                window.location.href= 'predetermine.html?fdId=' +  $('.goToDetailMeeting').attr('fdId') + '&date=' + $('#my_input').val() + '&name=' + $('#titName').attr('name')
              })
            });
        }
        getDateApi()
    });
  </script>
</html>
