<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title></title>
    <link rel="stylesheet" href="../../css/weui.css" />
    <link rel="stylesheet" href="../../css/jquery-weui.css" />
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="meeting.css" />
    <script src="../../asset/font/iconfont.js"></script>
  </head>

  <body>
    <div class="meeting">
      <header>
        <div class="header">
          <div class="back"></div>
          <div class="head-tit"></div>
          <div class="back fot-max">
            高级搜索
          </div>
        </div>
        <div class="flx header2">
          <div class="flx-1 tex-c">
            前一天
          </div>
          <div class="flx-1 tex-c">预定场地</div>
          <div class="flx-1 tex-c">
            后一天
          </div>
        </div>
      </header>
      <div class="container">
        <div class="placed-item">
          <div class="con">
            <p class="img">
              <img
                src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg"
                alt=""
                srcset=""
              />
            </p>
            <p class="price"><span>500元/半小时</span></p>
          </div>
          <p class="tit">大沙龙空间</p>
          <div class="flx fot-s mar-t">
            <div class="flx-1">
              <p class="desc">
                <i class="icon iconfont icon-arrow-lift"></i>可容纳60人
              </p>
              <p class="desc">
                <i class="icon iconfont icon-arrow-lift"></i>庚坊国际发展中心
              </p>
            </div>
            <div class="flx-1 tex-r mar-t-mix">
              <button class="btn-back btn-co pre-btn">
                <i class="icon iconfont icon-arrow-lift"></i>
                我要预定
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slid-shadow">
      <div class="slid-shadow-container">
        <div class="slid-header">
          <input type="text" placeholder="搜索" />
        </div>
        <div class="slid-content bg-c-w">
          <ul class="accordion">
            <li class="selected">
              <span>可容纳人数</span>
              <div>
                <ul>
                  <li>4人以下</li>
                  <li>5～8人</li>
                  <li>8～12人</li>
                  <li>12～20人</li>
                  <li>20人以上</li>
                </ul>
              </div>
            </li>
            <li>
              <span>提供设备</span>
              <div>
                <ul>
                  <li>投影仪</li>
                  <li>电脑</li>
                  <li>欢迎屏</li>
                  <li>视频设备</li>
                  <li>电话会议设备</li>
                  <li>钢笔</li>
                  <li>麦克风</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                  <li>专业音响</li>
                </ul>
              </div>
            </li>
            <li>
              <span>所属园区</span>
              <div>
                <ul>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                  <li>牡丹创业楼</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="slid-footer flx">
          <div class="flx-1 tex-c fot-m bg-c-w">重置</div>
          <div class="flx-1 sure tex-c fot-m">确定</div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../js/lib.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/lazyLoad.js"></script>
  <script>
    $(function () {
      $("ul.accordion li span").on("click", function (event) {
        event.stopPropagation();
        $(this).parent().siblings().removeClass("selected").find("div").hide();
        $(this).parent().addClass("selected");
        $(this).next().slideDown(500);
      });
      $(".back").on("click", function () {
        $(".slid-shadow").width(0);
        $(".slid-shadow").show();
        $(".slid-shadow").animate(
          { width: "100%" },
          500,
          "linear",
          function () {}
        );
      });
      $(".slid-shadow").click(function () {
        $(".slid-shadow").animate({ width: "0px" }, 500, "linear", function () {
          $(".slid-shadow").hide();
        });
      });
    });
  </script>
</html>
