.container {
  margin-top: 1px;
}
.picker-calendar-week-days {
  font-size: 12px;
}
.newheader2 {
  height: 44px;
  background: #ffffff;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.meeting .back {
  font-size: 16px;
  color: #000000;
}

.slid-shadow-container {
  width: 70%;
  height: 100%;
}

.meeting .container {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}

.meeting .container .pre-btn {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  padding: 0 6px;
}

.meeting .container .placed-item .con {
  position: relative;
}

.meeting .container .placed-item .con .price {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  line-height: 20px;
  background-color: #4777f3;
  padding: 0 8px;
  font-size: 12px;
}

.meeting .container .placed-item .con .price span {
  font-size: 12px;
  color: #fff;
}

.meeting .container .placed-item .img {
  height: 150px;
  width: 100%;
  position: relative;
}

.meeting .container .placed-item .tit {
  font-size: 16px;
  padding: 8px 0 5px 0;
}

.meeting .container .placed-item .desc {
  color: #999;
  font-size: 14px;
  margin-bottom: 5px;
}

.meeting .container .placed-item .desc .icon {
  margin-right: 10px;
  color: #4777f3;
  font-size: 16px;
}

.meeting .container .placed-item .button {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.meeting .container .placed-item .button a {
  height: 20px;
  padding: 5px 8px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  color: #fff;
  background-color: #4777f3;
  font-size: 12px;
  margin-bottom: 5px;
  margin-right: 5px;
}

i.icon.icon-yuding {
  font-size: 12px;
  vertical-align: baseline;
}

.slid-shadow-container {
  z-index: 999 !important;
  position: absolute;
  right: 0;
  height: 100%;
  background: #f3f3f3;
}

.slid-shadow-container .slid-header {
  height: 40px;
  line-height: 40px;
}

.slid-shadow-container .slid-header input {
  height: 30px;
  line-height: 30px;
  background: #ffffff;
  text-align: center;
  width: calc(100% - 10px);
  margin: 0 6px;
  border-radius: 4px;
}

.slid-shadow-container .slid-content {
  height: 100%;
  overflow: auto;
}

.slid-shadow-container .slid-content .accordion {
  margin-bottom: 84px !important;
}

.slid-shadow-container .slid-content .accordion,
.slid-shadow-container .slid-content .accordion ul {
  /* 折叠菜单及其子菜单的通用样式 */
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slid-shadow-container .slid-content .accordion ul {
  border: 0;
  padding-left: 10px;
  color: #909090;
}

.slid-shadow-container .slid-content .accordion ul li {
  /* 子菜单的菜单项样式 */
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #e8e8e8;
}

.slid-shadow-container .slid-content .accordion li span {
  /* 折叠菜单的标题样式 */
  line-height: 40px;
  display: block;
  height: 40px;
  font-size: 16px;
  border: 1px solid #e8e8e8;
  padding-left: 10px;
}

.slid-shadow-container .slid-content .accordion li div {
  /* 子菜单平时不显示 */
  display: none;
}

.slid-shadow-container .slid-content .accordion li.selected div {
  /* 添加了selected样式时才显示 */
  display: block;
}

.slid-footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  right: 0;
  width: 100%;
  border: 1px solid #e8e8e8;
}

.slid-footer div {
  height: 40px;
  line-height: 40px;
}

.slid-footer .sure {
  color: #ffffff;
  background-color: #4777f3;
}

.meeting .data-sele {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #4777f3;
}

.meeting #preMeet {
  background-color: #4777f3;
}
