<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title></title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="predeter.css" />
    <script src="../../asset/font/iconfont.js"></script>
</head>

<body>
<div class="perdetermine">
    <div class="flx line-content fot-m bg-c-w">
        <div class="tex-l flx-1">大沙龙空间</div>
        <div class="tex-r flx-1 clor-active">500元/半小时</div>
    </div>
    <div class="flx line-content fot-s ">
        <div class="tex-l flx-1 clor-gre">预定时间</div>
        <div class="tex-r flx-1 clor-active clor-blu">2020-07-17</div>
    </div>
    <div class="bg-c-w">
        <div class="fot-s pre-timmer">
            <div class="flx pre-timmer-container">
                <div class="flx-w">上午</div>
                <div class="flx-1">
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                </div>
            </div>
            <div class="flx pre-timmer-container">
                <div class="flx-w">下午</div>
                <div class="flx-1">
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                    <span class="timer-content">08:00</span>
                </div>
            </div>
        </div>
        <div class="flx line-content fot-s">
            <div class="tex-l flx-1 fot-mi-s titp">
                提示：<span class="btn-span">已选</span>
                <span class="btn-span">已预定</span>
                <span class="btn-span">可预定</span>
            </div>
            <div class="tex-r fl-tex-w">共 <span class="clor-active">0</span>小时 合计<span class="clor-active">0</span>元</div>
        </div>
    </div>
    <div class="line-content fot-s">
        <div class="tex-l clor-gre">会议室设备预约</div>
    </div>
    <div class="line-content fot-s bor-t">
        <div class="tex-l clor-gre">服务内容预约</div>
    </div>
    <div class="flx line-content fot-s bor-t bg-c-w">
        <div class="tex-l flx-1">茶水</div>
        <div class="tex-l flx-1">5元/位</div>
        <div class="tex-r flx-1 clor-active">
            <i></i><span>1</span><i></i>
        </div>
    </div>
    <div class="flx line-content fot-s bor-t bg-c-w">
        <div class="tex-l flx-1">茶水</div>
        <div class="tex-l flx-1">5元/位</div>
        <div class="tex-r flx-1 clor-active">
            <i></i><span>1</span><i></i>
        </div>
    </div>
    <div class="flx line-content fot-s bor-t bg-c-w">
        <div class="tex-l flx-1">茶水</div>
        <div class="tex-l flx-1">5元/位</div>
        <div class="tex-r flx-1 clor-active">
            <i></i><span>1</span><i></i>
        </div>
    </div>
    <div class="line-content fot-s">
        <div class="tex-l clor-gre">其他要求</div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-w">是否开发票</div>
        <div class="flx-1"></div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-t-w">发票类型</div>
        <div class="flx-1">增值税专用发票</div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-t-w">发票抬头</div>
        <div class="tex-l flx-1"></div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-t-w">纳税识别号</div>
        <div class="flx-1"></div>
    </div>
    <div class="line-content fot-s">
        <div class="tex-l clor-gre">预定人信息</div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-t-w">姓名</div>
        <div class="flx-1"></div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-t-w">手机号码</div>
        <div class="flx-1">增值税专用发票</div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-t-w">邮箱</div>
        <div class="flx-1"></div>
    </div>
    <div class="flx line-content bor-t fot-m bg-c-w">
        <div class="tex-l fl-tex-t-w">公司名称</div>
        <div class="flx-1"></div>
    </div>
    <div class="line-content">
        <div class="btn-sure">确认</div>
    </div>
</div>
</body>
<script src="../../js/jquery_min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/lazyLoad.js"></script>
<script>
</script>
</html>
