.commentList .head-tit {
  display: flex;
  overflow-x: auto; }
  .commentList .head-tit .tit-t {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2rem;
    color: #C3C3C3;
    white-space: nowrap; }
    .commentList .head-tit .tit-t:first-child {
      color: #000000; }
      .commentList .head-tit .tit-t:first-child::after {
        content: "";
        height: 4px;
        width: 8px;
        display: inline-block;
        background-color: #4777F3;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%); }

.commentList .header2 {
  padding-left: 2rem;
  border-bottom: 1px solid rgba(217, 217, 217, 0.3);
  overflow-x: auto; }
  .commentList .header2 .tag-tit {
    white-space: nowrap;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    background-color: #FAFAFA;
    color: #000000;
    margin-right: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; }
    .commentList .header2 .tag-tit.clic {
      color: #fff;
      background-color: #9BBAF0; }

.commentList .container {
  margin-top: 8.8rem; }
