<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title>发表评论</title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <script src="../../asset/font/iconfont.js"></script>
    <script src="../../js/common.js"></script>

</head>

<body>
    <div class="comment">
        <header>
            <div class="back icon-arrow-lift">
                <span>取消</span>
            </div>
            <p>发表话题</p>
            <div>
                提交
            </div>
        </header>
    </div>
</body>

</html>
