.commentList .head-tit {
  display: flex;
  overflow-x: auto; }
  .commentList .head-tit .tit-t {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 2rem;
    color: #999;
    white-space: nowrap; }
    .commentList .head-tit .tit-t:first-child {
      color: #333; }
      .commentList .head-tit .tit-t:first-child::after {
        content: '';
        height: 4px;
        width: 8px;
        display: inline-block;
        background-color: #ff6600;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%); }

.commentList .header2 {
  top: 4.4rem;
  padding-left: 2rem; }
  .commentList .header2 .tag-tit {
    height: 3rem;
    padding: 1rem;
    background-color: #D9D9D9;
    color: #333;
    margin-right: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; }
    .commentList .header2 .tag-tit.clic {
      color: #fff;
      background-color: #ff6600; }

.commentList .container {
  margin-top: 8.8rem; }
