<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title></title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="./placed.css" />
    <script src="../../asset/font/iconfont.js"></script>
</head>

<body>
    <div class="placed">
        <header>
            <div class="header">
                <div class="back">
                    <i class="icon iconfont icon-arrow-lift"></i>
                </div>
                <div class="head-tit">预定场地</div>
                <div class="back"></div>
            </div>
        </header>
        <div class="container">
            <div class="header2 tit2">
                <p>六安市六安市</p>
            </div>
            <div class="placed-item" onclick="location.href='./detail.html'">
                <div class="con">
                    <p class="img">
                        <img src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt="" srcset="" />
                    </p>
                    <p class="price"><span>分享有奖</span></p>
                    <p class="share"><span>分享有奖</span></p>
                </div>
                <p class="tit">创业实验室</p>
                <p class="desc">临期发随风飘散佛菩萨福爬服啊</p>
                <p class="button">
                    <a>电脑40组</a>
                    <a>电脑40组</a>
                    <a>电脑40组</a>
                    <a>电脑40组</a><a>电脑40组</a><a>电脑40组</a><a>电脑40组</a
            ><a>电脑40组</a><a>电脑40组</a><a>电脑40组</a>
                    <a>电脑40组</a>
                </p>
            </div>
        </div>
    </div>
</body>
<script src="../../js/jquery_min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/template-web.js"></script>
<script src="../../js/lazyLoad.js"></script>

</html>