<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title>场地列表</title>
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="../../css/weui.css" />
    <link rel="stylesheet" href="../../css/jquery-weui.css" />
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="./placed.css" />
    <script src="../../asset/font/iconfont.js"></script>
  </head>

  <body>
    <div class="placed">
      <header>
        <div class="header">
          <div class="back">
            <i class="icon iconfont icon-arrow-lift"></i>
          </div>
          <div class="head-tit">预定场地</div>
          <div class="back"></div>
        </div>
      </header>
      <!-- 内容列表 -->
      <div class="container">
        <!-- <div class="header2 tit2">
          <p>六安市六安市</p>
        </div> -->

        <div class="info"></div>
        <div class="weui-loadmore">
          <i class="weui-loading"></i>
          <span class="weui-loadmore__tips">正在加载</span>
        </div>
      </div>
      <!-- 底部按钮 -->
      <div class="footer flx">
        <a class="nav-item" href="../comment/index.html">
          <i class="icon iconfont icon-luntan"></i>
          <span>论坛</span>
        </a>
        <a class="nav-item flx-1" href="../activity/index.html">
          <i class="icon iconfont icon-remenhuodong"></i>
          <span>园区活动</span>
        </a>
        <a class="nav-item flx-1" href="../news/list.html">
          <i class="icon iconfont icon-zixun"></i>
          <span>资讯</span>
        </a>
        <a class="nav-item flx-1" href="../meeting/index.html">
          <i class="icon iconfont icon-huiyishi"></i>
          <span>会议室</span>
        </a>
        <a class="nav-item flx-1 clic" href="../placed/index.html">
          <i class="icon iconfont icon-chad"></i>
          <span>场地</span>
        </a>
      </div>
    </div>
  </body>
  <script src="../../js/lib.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/lazyLoad.js"></script>
  <!-- 模板 -->
  <script id="placedTpl" type="text/html">
    {{each list as item}}
        <div class="placed-item" onclick='location.href="./detail.html?fdId={{item.fdArea}}"'>
          <div class="con">
            <p class="img">
              <img src="{{domain + item.fdImage[0]}}" data-src="" alt="">
            </p>
            <p class="price"><span>{{item.fdbalancetype}}</span></p>
            <p class="share"><span>分享有奖</span></p>
          </div>
          <p class="tit">{{item.areaName}}</p>
          <p class="desc">{{item.areaAdress}}</p>
          <p class="button">
            {{each item.wechatAreaItem as subItem}}
            <a>{{subItem}}</a>
            {{/each}}
          </p>
        </div>
    {{/each}}
  </script>
  <script>
    // 获取场地列表;
    function getAreaList() {
      var result = ajaxMothed("/resource/wechatArea/auth/getAreaList", {
        pageno: _scrollPageNo,
        rowsize: 10,
      });
      result
        .done(function (resp) {
          _scrollTotalPage = resp.data.total;
          // 重置滚动条开关
          if (resp.data.dataList.length == 0) {
            if (_scrollPageNo == 1) {
              $(".container .info").html("");
              $(".empty").removeClass("hide");
            }
            return false;
          }
          $(".empty").addClass("hide");
          render(".container .info", "placedTpl", resp.data.dataList, true);
          setScrollPage();
        })
        .fail(function () {
          if (_scrollPageNo == 1) {
            $(".container .info").html("");
            $(".empty").removeClass("hide");
          }
        });
    }
    $(function () {
      getAreaList();
      // 滚动加载
      pageScroll(getAreaList);
    });
  </script>
</html>
