.placed .container,
.placedDetail .container {
  margin-top: 4.4rem; }
  .placed .container .header2.tit2,
  .placedDetail .container .header2.tit2 {
    padding: 0 1rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #fff; }
  .placed .container .placed-item,
  .placedDetail .container .placed-item {
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    background-color: #fff; }
    .placed .container .placed-item .con,
    .placedDetail .container .placed-item .con {
      position: relative; }
      .placed .container .placed-item .con .price,
      .placedDetail .container .placed-item .con .price {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 2rem;
        line-height: 2rem;
        background-color: #929488;
        padding: 0 0.8rem; }
        .placed .container .placed-item .con .price span,
        .placedDetail .container .placed-item .con .price span {
          font-size: 1rem;
          color: #fff; }
      .placed .container .placed-item .con .share,
      .placedDetail .container .placed-item .con .share {
        position: absolute;
        right: 0;
        top: 2rem;
        font-size: 1rem;
        padding: 0 0.8rem;
        color: #fff;
        height: 2rem;
        line-height: 2rem;
        background-color: #e97c6d;
        border-radius: 0.6rem 0 0 0.6rem;
        -webkit-border-radius: 0.6rem 0 0 0.6rem;
        -moz-border-radius: 0.6rem 0 0 0.6rem;
        -ms-border-radius: 0.6rem 0 0 0.6rem;
        -o-border-radius: 0.6rem 0 0 0.6rem; }
  .placed .container .placed-item .img,
  .placed .container .info .img,
  .placedDetail .container .placed-item .img,
  .placedDetail .container .info .img {
    height: 15rem;
    width: 100%;
    position: relative; }
  .placed .container .placed-item .tit,
  .placed .container .info .tit,
  .placedDetail .container .placed-item .tit,
  .placedDetail .container .info .tit {
    font-size: 1.4rem;
    padding: 0.8rem 0 0.5rem 0; }
  .placed .container .placed-item .desc,
  .placed .container .info .desc,
  .placedDetail .container .placed-item .desc,
  .placedDetail .container .info .desc {
    color: #999;
    font-size: 1.2rem; }
  .placed .container .placed-item .button,
  .placed .container .info .button,
  .placedDetail .container .placed-item .button,
  .placedDetail .container .info .button {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .placed .container .placed-item .button a,
    .placed .container .info .button a,
    .placedDetail .container .placed-item .button a,
    .placedDetail .container .info .button a {
      height: 2rem;
      padding: 0.5rem 0.8rem;
      border-radius: 0.2rem;
      -webkit-border-radius: 0.2rem;
      -moz-border-radius: 0.2rem;
      -ms-border-radius: 0.2rem;
      -o-border-radius: 0.2rem;
      color: #fff;
      background-color: #fddddc;
      color: #edaba6;
      font-size: 1rem;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem; }

.placedDetail {
  font-size: 1.2rem; }
  .placedDetail .container {
    margin-bottom: 6rem; }
    .placedDetail .container .img {
      height: 15rem; }
    .placedDetail .container .summary,
    .placedDetail .container .description,
    .placedDetail .container .service {
      font-size: 1.2rem;
      padding: 0 1rem;
      background-color: #fff;
      margin-bottom: 0.5rem; }
    .placedDetail .container .summary .price {
      color: #b14351;
      padding-top: 0.5rem; }
    .placedDetail .container .summary .tip {
      font-size: 1rem;
      color: #C3C3C3;
      padding: 0.5rem 0 1rem 0; }
    .placedDetail .container .description {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; }
      .placedDetail .container .description h3 {
        padding-bottom: 1rem; }
      .placedDetail .container .description .con {
        font-size: 1rem;
        line-height: 1.2; }
    .placedDetail .container .service {
      padding-bottom: 1.5rem; }
      .placedDetail .container .service p {
        padding: 1.5rem 0; }
      .placedDetail .container .service ul {
        display: flex; }
        .placedDetail .container .service ul li {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 5rem; }
          .placedDetail .container .service ul li i {
            display: block;
            width: 3rem;
            height: 3rem;
            margin-bottom: 0.3rem; }
            .placedDetail .container .service ul li i img {
              border-radius: 50%;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              -ms-border-radius: 50%;
              -o-border-radius: 50%; }
          .placedDetail .container .service ul li span {
            color: #C3C3C3;
            font-size: 1.2rem; }
  .placedDetail footer {
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    display: flex; }
    .placedDetail footer ul {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center; }
      .placedDetail footer ul li {
        flex: 1;
        margin: 0 1rem;
        background-color: #eb6350;
        height: 3rem;
        color: #fff;
        line-height: 3rem;
        text-align: center; }
        .placedDetail footer ul li:first-child {
          background-color: #f4b942; }
        .placedDetail footer ul li a {
          color: #fff;
          display: block;
          height: 100%; }

.placedOnline .detail {
  margin-bottom: 1rem;
  background-color: #fff;
  display: flex;
  padding: 1rem; }
  .placedOnline .detail .img {
    width: 6rem;
    height: 5rem;
    margin-right: 1rem; }
  .placedOnline .detail .info {
    flex: 1; }
    .placedOnline .detail .info .tit {
      font-size: 1.4rem;
      margin-bottom: 1rem; }
    .placedOnline .detail .info .desc {
      color: #9e9e9e; }

.placedOnline #form {
  background-color: #fff;
  padding: 0 1rem; }
  .placedOnline #form li {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #f3f3f3; }
    .placedOnline #form li input {
      margin-left: 1rem;
      height: 100%;
      text-align: right;
      flex: 1; }

.placedOnline #dateTime {
  margin-top: 1rem;
  background-color: #fff;
  padding: 0 1rem; }
  .placedOnline #dateTime li {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #f3f3f3; }
    .placedOnline #dateTime li p {
      margin-left: 1rem;
      height: 100%;
      text-align: right;
      line-height: 4rem;
      flex: 1; }

.placedOnline footer {
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e97c6d;
  text-align: center;
  line-height: 4rem;
  color: #fff; }
