<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title>线上预订</title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../css/jquery.pickTime.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="./placed.css" />
    <script src="../../asset/font/iconfont.js"></script>
  </head>

  <body>
    <div class="placedOnline">
      <!-- 内容列表 -->
      <div class="container">
        <div class="detail">
          <script id="areaOnlineTpl" type="text/html">
            <p class="img">
              <img src="{{domain + list.fdImage}}" alt="" srcset="" />
            </p>
            <div class="info">
              <p class="tit">{{list.areaName}}</p>
              <p class="desc">{{list.areaAdress}}</p>
            </div>
          </script>
        </div>
        <!-- form 信息 -->
        <form action="" method="post">
          <ul id="form">
            <li>
              <label for="">联系人</label>
              <input
                value=""
                type="text"
                placeholder="请输入联系人"
                name="fdcontact"
                id="fdcontact"
              />
            </li>
            <li>
              <label for="">联系电话</label>
              <input
                value=""
                type="text"
                placeholder="请输入联系电话"
                name="fdphone"
                id="phone"
              />
            </li>
            <li>
              <label for="">所属公司</label>
              <input
                value=""
                type="text"
                placeholder="请输入公司名称"
                name="fdcompany"
              />
            </li>
            <li>
              <label for="">邮箱</label>
              <input
                type="email"
                placeholder="请输入邮箱"
                value=""
                name="fdemail"
                id="email"
              />
            </li>
          </ul>
          <ul id="dateTime">
            <li>
              <label for="">选择日期</label>
              <p class="date"></p>
              <i></i>
              <input type="hidden" name="fddate" value="" id="date" />
            </li>
            <li>
              <label for="">选择时间</label>
              <p class="time"></p>
              <i></i>
              <input type="hidden" name="fdtime" value="" id="time" />
            </li>
          </ul>
          <input type="hidden" value="" name="fdId" id="fdId" />
        </form>
      </div>
      <!-- 底部按钮 -->
      <footer onclick="submit()">
        <p>提交</p>
      </footer>
    </div>
  </body>
  <script src="../../js/lib.js"></script>
  <script src="../../js/jquery.pickTime.js"></script>
  <script src="../../js/common.js"></script>
  <script src="../../js/lazyLoad.js"></script>
  <!-- 模板 -->
  <script>
    var fdId = "";
    $(function () {
      $(".date").pickTimer({
        pickType: "y:m:d",
        yearSize: "30",
      });
      $(".time").pickTimer({
        pickType: "h:m:s",
        speed: 3,
      });
      var date = new Date(),
        yy = date.getFullYear(),
        month = date.getMonth() + 1,
        dd = date.getDate(),
        hh = date.getHours(),
        mm = date.getMinutes(),
        ss = date.getSeconds();
      $(".date").text(yy + "-" + month + "-" + dd);
      $(".time").text(hh + ":" + mm + ":" + ss);
      fdId = GetRequest().fdId || "1734221d392627ccd7f7d2c40db89fe2";
      getAreaAbstract();
    });
    /*场地预约信息*/
    function getAreaAbstract() {
      var result = ajaxMothed("/resource/wechatArea/auth/getAreaAbstract", {
        fdId: fdId,
      });
      result
        .done(function (resp) {
          if (resp.success) {
            render(".container .detail", "areaOnlineTpl", resp.data, false);
          }
        })
        .fail(function (resp) {
          $.toast(resp.msg, "text");
        });
    }
    function submit() {
      $("#date").val($(".date").text());
      $("#time").val($(".time").text());
      $("#fdId").val(fdId);
      $.ajax({
        //几个参数需要注意一下
        type: "POST", //方法类型
        dataType: "json", //预期服务器返回的数据类型
        url: domain + "/resource/wechatArea/auth/saveAreaOrder", //url
        data: $("form").serialize(),
        success: function (result) {
          $.alert(result.data);
        },
        error: function () {
          $.alert("异常！");
        },
      });
    }
  </script>
</html>
