<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title>订单详情</title>
    <link rel="stylesheet" href="../../css/weui.css" />
    <link rel="stylesheet" href="../../css/jquery-weui.css" />
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <script src="../../asset/font/iconfont.js"></script>
  </head>
  <style>
    .visit-appointment .weui-cells__title {
      padding-left: 15px;
      padding-right: 15px;
      color: #999999;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      margin: 0;
    }
    footer p {
      flex: 1;
    }
    .active {
      background-color: #ff9a1a;
      color: #fff;
    }
    .cancel {
      background-color: #fff;
      color: #000;
    }
  </style>
  <body class="visit-appointment">
    <header>
      <div class="newHeader">
        <div class="back">
          <i class="icon iconfont icon-arrow-lift"></i>
        </div>
        <div class="head-tit">订单详情</div>
        <div class="back"></div>
      </div>
    </header>
    <div class="newContainer">
      <script  id="detailTpl" type="text/html">
      <div class="weui-cells__title">预定信息</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">预订资源</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="{{list.areaName}}"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">收费标准</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="{{list.fdbalancetype}}"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">订单金额</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="1005元"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">预订时长</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">开始时间</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="{{list.fdStartTime}}"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">结束时间</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="{{list.fdStartTo}}"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">设备预约</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">服务预约</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
            />
          </div>
        </div>
      </div>
      <div class="weui-cells__title">个人信息</div>
      <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">姓名</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="{{list.fdcontact}}"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">手机号码</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="{{list.fdPhone}}"
            />
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">邮箱</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              readonly
              value="{{list.fdEmail}}"
            />
          </div>
        </div>
      </script>
      </div>
      <!-- 底部a按钮 -->
      <footer class="submit newFooter hide">
        <p class="cancel">取消订单</p>
        <!--  -->
        <p class="active">去付款</p>
      </footer>
    </div>
  </body>
  <script src="../../js/lib.js"></script>
  <script src="../../js/newCommon.js"></script>
  <script src="../../js/lazyLoad.js"></script>
  <script>
    $(function () {
      getMineMeetDetail();
    }); 
    function getMineMeetDetail() {
      var result = ajaxMothed("/resource/wechat/auth/wechatMeet.do", {
        fdId: GetRequest().orderId,
        method:'getMineMeetDetail'
      });
      result.done(function (resp) {
        render(".newContainer", "detailTpl", resp.data, false);
        lazyRender();
      });
    }
  </script>
</html>
