<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <title></title>
    <link rel="stylesheet" href="../../css/base.css" />
    <link rel="stylesheet" href="../../asset/font/iconfont.css" />
    <link rel="stylesheet" href="./news.css" />
    <script src="../../asset/font/iconfont.js"></script>
    <script src="../../js/jquery_min.js"></script>
    <script src="../../js/template-web.js"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="newsList">
        <div class="header pad-mix bg-c-w">
            <input type="text" placeholder="搜索活动" class="inp" />
        </div>
        <div class="header nav">
            <ul>
                <li class="active">全部</li>
                <li>本地</li>
                <li>盘古频道</li>
                <li>创新创业</li>
                <li>创新创业</li>
                <li>创新创业</li>
                <li>创新创业</li>
                <li>创新创业</li>
            </ul>
        </div>
        <div class="container">
            <ul class="list">
                <li>
                    <p class="img">
                        <img src="" data-src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt="">
                    </p>
                    <!--  -->
                    <div class="con">
                        <p class="tit">2019年第三季2019年第三季度盘古2019年第三季度盘古度盘古</p>
                        <p class="time"><span>【深圳市】09月30日 发布</span></p>
                        <p class="votes">
                            <span><i class="icon iconfont icon-xinxi2"></i>2</span>
                            <span><i class="icon iconfont icon-dianzan1"></i>6</span>
                        </p>
                    </div>
                </li>
                <li>
                    <p class="img">
                        <img src="" data-src="http://cdn.jirengu.com/book.jirengu.com/img/1.jpg" alt="">
                    </p>
                    <!--  -->
                    <div class="con">
                        <p class="tit">2019年第三季2019年第三季度盘古2019年第三季度盘古度盘古</p>
                        <p class="time"><span>【深圳市】09月30日 发布</span></p>
                        <p class="votes">
                            <span><i class="icon iconfont icon-xinxi2"></i>2</span>
                            <span><i class="icon iconfont icon-dianzan1"></i>6</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer flx">
        <a class="nav-item clic">
            <i class="icon iconfont icon-luntan"></i>
            <span>论坛</span>
        </a>
        <a class="nav-item flx-1" href="../comment/index.html">
            <i class="icon iconfont icon-activity"></i>
            <span>园区活动</span>
        </a>
        <a class="nav-item flx-1" href="../news/list.html">
            <i class="icon iconfont icon-activity"></i>
            <span>资讯</span>
        </a>
        <a class="nav-item flx-1" href="../meeting/index.html">
            <i class="icon iconfont icon-activity"></i>
            <span>会议室</span>
        </a>
        <a class="nav-item flx-1" href="../placed/index.html">
            <i class="icon iconfont icon-activity"></i>
            <span>场地</span>
        </a>
    </div>
    </div>
</body>
<script src="../../js/lazyLoad.js"></script>

</html>
